*{
    box-sizing: border-box !important; 
    margin: 0 !important;
}
.img1{
    height: 20vw;
}
.concert{
    width: 90%;
}
.table1 th, td{
    border: 1px solid;
}
.img2{
    width: 18vw;
}
.but{
    color: blue;
    background-color: white;
}
.img{
    height: 12rem;
    object-fit: cover;
}
.search{
    height: 1rem;
}